.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 1.5rem;
  margin-top: 6rem;
}

.about__img {
  width: 25rem;
  margin-inline: auto;
}


.about__title {
  font-size: var(--size-3xl);
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

.about__description {
  margin-top: 0.5rem;
}

.about__services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 310px;
}

.about__services i {
  color: var(--clr-primary);
  font-size: var(--size-xl);
  margin-right: 0.5rem;
}

.about__btn {
  width: 100%;
}

.about__services strong {
  padding-bottom: 1rem;
}

/* xs  */
/* @media (min-width: 475px){
    
 }  */

/* sm */
@media (min-width: 640px){
  .about__img {
    width: 30rem;
    margin-inline: auto;
  }
 } 

/* md  */
@media (min-width: 768px){
  .about__title {
    font-size: var(--size-5xl);
    line-height: 1;
  }

  .about__btn {
    font-size: var(--size-xl);
    margin-inline: auto;
    width: fit-content;
  }
  
  .about__img {
    width: 30rem;
    margin-inline: auto;
  }
 }

/* lg  */
@media (min-width: 1024px){
    .about{
      flex-direction: row;
      align-items: center;
      margin-inline: auto;
      justify-content: center;
      gap: 5rem;
    }

    .about__services {
      max-width: 550px;
    }

    .about__title {
      max-width: 90%;
    }

    .about__img {
      width: 38rem;
      margin-inline: auto;
    }
 }

/* xl  */
/* @media (min-width: 1280px){
    
 } */

/* 2xl  */
/* @media (min-width: 1536px){
    
 } */