.contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.contact__title{
  font-size: var(--size-3xl);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  
  margin-bottom: 1rem;
}

.contact__title span{
  font-size: var(--size-4xl);
  background-color: var(--clr-primary);
  padding-inline: 1rem;
  border-radius: 10px;
}

.contact__description {
  margin-bottom: 2rem;
  text-align: center;
}

.contact__buttons {
  text-align: center;
  font-size: var(--size-4xl);
  color: var(--clr-dark);
 
}

.contact__buttons .ri{
  color: var(--clr-dark);
  transform: color 0.3s;
}
.contact__buttons .ri:hover{
  color: var(--clr-primary);
}

.contact__img{
  width: 25rem;
  margin-inline: auto;
}

/* xs  */
/* @media (min-width: 475px){
    
 }  */

/* sm */
@media (min-width: 640px){
    .contact__description{
      margin-inline: auto;
    }
 } 

/* md  */
@media (min-width: 768px){
   .contact{
    flex-direction: row-reverse;
    align-items: center;
    margin-inline: auto;
   } 

   .contact__title{
    text-align: start;
    font-size: var(--size-4xl);
   }

   .contact__title span {
    font-size: var(--size-5xl);
   }

   .contact__description{
    text-align: start;
   }

   .contact__buttons{
    text-align: start;
   }

   .contact__img {
    width: 40rem;
   }
 }

/* lg  */
@media (min-width: 1024px){
    .contact__title {
      font-size: var(--size-5xl);
    }
    .contact__title span{
      font-size: var(--size-6xl);
    }
 }

/* xl  */
/* @media (min-width: 1280px){
    
 } */

/* 2xl  */
/* @media (min-width: 1536px){
    
 } */