.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.6rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__content--title {
  font-size: var(--size-3xl);
  text-align: center;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 0.9rem;
  text-transform: uppercase;
}

.hero__content--title span{
  background-color: var(--clr-primary);
  padding-inline: 1rem;
  font-size: var(--size-4xl);
  text-align: start;
  border-radius: 10px;
}

.hero__content--description {
  text-align: center;
  margin-inline: auto;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  font-size: var(--size-sm);
  font-weight: 400;
  color: var(--clr-stone400);
  max-width: 60ch;
}

.hero__content--btn1 {
  font-size: var(--size-lg);
  width: 100%;
}

.hero__img {
  width: 25rem;
  margin-inline: auto;
  filter: drop-shadow(-1px 9px 30px #9e762054);
}

/* xs  */
/* @media (min-width: 475px){
    
 }  */

/* sm */
@media (min-width: 640px){
  .hero__img {
    width: 30rem;
    margin-inline: auto;
  }

  .hero__content--btn1 {
    width: fit-content;
  }
 } 

/* md  */
@media (min-width: 768px){ 
  .hero__content--title {
    font-size: var(--size-4xl);
    line-height: 1.3;
  }
  
  .hero__content--title span{
    font-size: var(--size-5xl);
  }

  .hero__content--description {
    font-size: var(--size-base);
  }

  .reserve__btn {
    font-size: var(--size-xl);
    width: fit-content;
  }
  
  .hero__img {
    width: 35rem;
    margin-inline: auto;
  }
 }

/* lg  */
@media (min-width: 1024px){
  .hero {
    flex-direction: row;
    margin-top: 5rem;
  }

  .hero__content{
    margin-top: 3rem;
  }

  .hero__content--title {
    font-size: var(--size-4xl);
    text-align: start;
    align-self: flex-start;
    margin-bottom: 1.2rem;
  }
  
  .hero__content--title span{
    font-size: var(--size-6xl);
  }

  .hero__content--description {
    text-align: start;
    margin-bottom: 3rem;
  }

  .hero__content--btn1 {
    align-self: start;
  }
  
  .hero__img {
    width: 36rem;
  }
 }

/* xl  */
@media (min-width: 1280px){
  .hero__content--title {
    font-size: var(--size-5xl);
    text-align: start;
    align-self: flex-start;
  }
  
  .hero__content--title span{
    font-size: var(--size-6xl);
  }

  .hero__img {
    width: 45rem;
    position: relative;
    right: -100px;
  }
 }

/* 2xl  */
/* @media (min-width: 1536px){
    
 } */