.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__content--title {
  font-size: var(--size-3xl);
  text-align: center;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.hero__content--title span{
  background-color: var(--clr-primary);
  padding-inline: 1rem;
  color: var(--clr-light);
  font-size: var(--size-4xl);
}

.hero__content--description {
  text-align: center;
  margin-inline: auto;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-size: var(--size-sm);
  font-weight: 400;
  color: var(--clr-stone400);
}