.menu {
  display: flex;
  flex-direction: column;
}

.menu__title {
  font-size: var(--size-3xl);
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
}

.menu__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.menu__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

/* xs  */
/* @media (min-width: 475px){
    
 }  */

/* sm */
@media (min-width: 640px){
  .menu__container {
    grid-template-columns: repeat(2, 1fr);
  }
 } 

/* md  */
@media (min-width: 768px){
  .menu__title {
    font-size: var(--size-5xl);
  }
}

/* lg  */
@media (min-width: 1024px){
  .menu__container {
    grid-template-columns: repeat(3, 1fr);
  }
 }

/* xl  */
@media (min-width: 1280px){
  .menu__container {
    grid-template-columns: repeat(4, 1fr);
  }
 }

/* 2xl  */
/* @media (min-width: 1536px){
    
 } */