.popular {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 5rem;
}

.popular__title {
  font-size: var(--size-3xl);
  text-transform: uppercase;
  font-weight: 900;
}

.popular__container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.popular__card {
  background-color: #fffbf0;
  max-width: 350px;
  padding: 1.3125rem;
  border-radius: 31px;
  text-align: center;
  margin-inline: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.popular__card img {
  margin-bottom: 1rem;
  border-radius: 10px;
  mix-blend-mode: multiply;
}

.popular__card--title {
  font-size: var(--size-2xl);
}

.popular__card span i {
  color: var(--clr-primary);
  font-size: var(--size-base);
}

.popular__card p {
  line-height: 1.2;
  margin-top: 0.5rem;
}

.popular__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.popular__price span {
  font-size: var(--size-2xl);
}


/* xs  */
/* @media (min-width: 475px){
    
 }  */

/* sm */
/* @media (min-width: 640px){
    
 }  */

/* md  */
@media (min-width: 768px){
  .popular__title {
    font-size: var(--size-5xl);
  }
 }

/* lg  */
@media (min-width: 1024px){
 }

/* xl  */
/* @media (min-width: 1280px){
    
 } */

/* 2xl  */
/* @media (min-width: 1536px){
    
 } */