/* xs  */
/* @media (min-width: 475px){
    
 }  */

/* sm */
/* @media (min-width: 640px){
    
 }  */

/* md  */
/* @media (min-width: 768px){
    
 } */

/* lg  */
/* @media (min-width: 1024px){
    
 } */

/* xl  */
/* @media (min-width: 1280px){
    
 } */

/* 2xl  */
/* @media (min-width: 1536px){
    
 } */


 .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.section {
  margin-top: 3rem;
}

.btn1 {
  background-color: transparent;
  padding-block: 0.5em;
  padding-inline: 1em;
  border: 2px solid var(--clr-primary);
  border-radius: 10px;
  color: var(--clr-primary-dark);
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn1:hover {
  background-color: var(--clr-primary);
  border-color: transparent;
}

.btn1::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: var(--clr-primary);
  transform: skewX(35deg);
  z-index: -9999;
  transition: width 0.3s ease;
}


.btn1:hover::before {
  width: 150%;
}

.btn2 {
  background-color: #ebe3c9;
  padding: 0.4em 0.9em;
  outline: none;
  border: 2px solid transparent;
  margin: 0.25em;
  border-radius: 1em;
  color: var(--clr-primary-dark);
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn2:hover {
  background-color: var(--clr-primary);
  border: transparent 2px solid;
}

.description {
  max-width: 60ch;
  color: var(--clr-stone400);
  font-size: var(--size-sm);
  line-height: 1.2;
}

.scrollToTop {
  position: fixed;
  padding-block: 0.3rem;
  padding-inline: 0.5rem;
  bottom: 30px;
  right: 30px;
  background-color: var(--clr-primary);
  color: var(--clr-dark);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  font-size: var(--size-4xl);
}


.inverse {
  background-color: #fffbf096;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax #fffbf096;
  clip-path: inset(0 -100vmax);
}

/* xs  */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md  */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .description {
    font-size: var(--size-base);
  }
}

/* lg  */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xl  */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl  */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}